asgiref==3.8.1
attrs==23.2.0
confluent-kafka==2.3.0
Django==4.1.13
djangorestframework==3.15.1
dnspython==2.6.1
drf-spectacular==0.27.1
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
mysqlclient==2.2.4
packaging==24.0
pluggy==1.4.0
pytest==8.1.1
pytest-django==4.8.0
pytest-mock==3.14.0
pytest-progress==1.2.5
pytest-sugar==1.0.0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
referencing==0.34.0
rpds-py==0.18.0
sqlparse==0.2.4
termcolor==2.4.0
uritemplate==4.1.1
